.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.orderCards {
  list-style: none;
  padding: 0;
}
