.modal_ingredient {
  width: 100%;
}

.modal_ingredientDesc {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal_ingredientProp {
  column-gap: 50px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.modal_ingredientInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
